{% extends 'images/base.html' %} {% block content %}
<h1>{{ image.title }}</h1>
<p>{{ image.pub_date }}</p>
<img src="{{ image.url }}" style="width: 400px;">
<h2>Komentari</h2>
<div>
    <form action="{% url 'images:new_comment' image.id %}" method="post">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name="name" id=""><br>
        <label for="">Text</label>
        <input type="text" name="text" id=""><br>
        <input type="submit" name="Komentiraj" id=""><br>
    </form>
</div>
{% for comment in comments %}
<p>
    <strong>{{ comment.name }}: </strong> {{comment.text}}
    <br>
    <small>{{ comment.created_at }}</small>
</p>
{% empty %}
<p>Nemamo još komentara</p>
{% endfor %} {% endblock content %}