{% extends 'images/base.html' %} {% block content %}
<div>
    <form action="" method="get">
        <label for="">Sort by</label>
        <select name="sort" onchange="this.form.submit()">
                <option selected disabled>Choose Sorting</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
</div>
{% for image in images %}
<h3>
    <a href="{% url 'images:detail' image.id %}">{{ image.title }}</a>
</h3>
<p><small>{{ image.pub_date }}</small></p>
<img src="{{ image.url }}" style="width: 150px;"> {% endfor %} {% endblock content %}