{% extends "images/base.html" %} {%block content%}
<h2>Submit new image</h2>
<form action="#" method="post">
    {% csrf_token%}
    <label for="">Title</label>
    <input type="text" name="title" id=""><br>
    <label for="">URL</label>
    <input type="text" name="url" id=""><br>
    <label for="">Published at</label>
    <input type="date" name="pub_date" id=""><br>
    <input type="submit" value="Submit image">
</form>
{% endblock content %}